app/
vendor/
cron/
public/boards/
public/tools/
*.lock
**/.idea
.DS_Store
._.DS_Store
error.log
access.log
public/metal.php
public/nevjegy.html
public/robots.txt
public/boards
public/foolframe/
public/foolfuuka/
public/fun/
components/
